In [44]:
import pandas as pd
import os
file_path_schools = os.path.join("..", "Resources", "schools_complete.csv")
file_path_students = os.path.join("..", "Resources", "students_complete.csv")
schools_df = pd.read_csv(file_path_schools)
students_df = pd.read_csv(file_path_students)

In [45]:
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [46]:
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [47]:
school_name = "school_name"
schools_df[school_name].nunique()
print(schools_df[school_name].nunique())

15

In [48]:
school_size= "size"
total_school_size = schools_df[school_size].sum()
print(total_school_size)

39170

In [49]:
school_budget= "budget"
total_school_budget = schools_df[school_budget].sum()
print(total_school_budget)

24649428

In [50]:
# Average math score
math_score = "math_score"
average_math_score = students_df[math_score].mean()
print(average_math_score)

78.98537145774827

In [51]:
# Average reading score
reading_score = "reading_score"
average_math_score = students_df[reading_score].mean()
print(average_math_score)

81.87784018381414

In [53]:
# Assuming 'math_score' is the column name for math scores in 'students_df'
math_score = 'math_score'  # Define the column name as a string if not already defined
total_students = len(students_df)  # Assuming total_students is the count of all students

# % passing math (the percentage of students who passed math)
passing_math = students_df[students_df[math_score] >= 70]

# Calculate the number of students who passed math
num_passing_math = len(passing_math)

# Calculate the percentage of students who passed math
percentage_passing_math = (num_passing_math / total_students) * 100

print(f"Percentage of students passing math: {percentage_passing_math}%")

Percentage of students passing math: 74.9808526933878%